<!DOCTYPE html>
<html>
  <head>
    <title>Gmail clone</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="logo col-sm-2">
          <img src="/img/google.png" alt="Google">
        </div><!-- logo -->

        <div class="search-bar col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-main">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div><!-- /input-group -->

          <span class="arrow caret"></span>
        </div><!-- search-bar -->

        <div class="profile col-sm-4">
          <ul class="profile-icons list-inline pull-right">
            <li>Nizar</li>
            <li>
              <span class="glyphicon glyphicon-th"></span>
            </li>
            <li class="bell">
              <span class="glyphicon glyphicon-bell"></span>
            </li>
            <li>
              <img src="/img/profile.jpg" class="img-circle">
            </li>
          </ul>
        </div><!-- profile -->
      </header>

      <div class="control-bar row">
        <div class="menu col-sm-2">
          &nbsp;
        </div><!-- menu -->

        <div class="controls col-sm-10">
          &nbsp;
        </div><!-- controls -->
      </div><!-- control-bar -->

      <div class="mail row">
        <div class="sidebar col-sm-2">
          &nbsp;
        </div><!-- sidebar -->

        <div class="inbox col-sm-10">
          &nbsp;
        </div><!-- inbox -->
      </div><!-- main -->
    </div>
  </body>
</html>
