<!DOCTYPE html>
<html>
  <head>
    <title>Gmail clone</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
  </head>
  <body>
  </body>
</html>
