<!DOCTYPE html>
<html>
  <head>
    <title>Gmail clone</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="logo col-sm-2">
          &nbsp;
        </div><!-- logo -->

        <div class="search-bar col-sm-7">
          &nbsp;
        </div><!-- search-bar -->

        <div class="profile col-sm-3">
          &nbsp;
        </div><!-- profile -->
      </header>

      <div class="control-bar row">
        <div class="menu col-sm-2">
          &nbsp;
        </div><!-- menu -->

        <div class="controls col-sm-10">
          &nbsp;
        </div><!-- controls -->
      </div><!-- control-bar -->

      <div class="mail row">
        <div class="sidebar col-sm-2">
          &nbsp;
        </div><!-- sidebar -->

        <div class="inbox col-sm-10">
          &nbsp;
        </div><!-- inbox -->
      </div><!-- main -->
    </div>
  </body>
</html>
